.landingContainer {
  color: white;
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.landingCenter {
  display: flex;
  align-items: center;
  padding: 24px;
}
.landingTextContainer {
}

.landingHeroContainer {
  margin-left: 100px;
}

.landingMain {
  font-size: 48px;
  font-weight: bold;
}

.landingSecondary {
  font-size: 32px;

  color: var(--light-blue);
}

.landingCTA {
  justify-content: center;
  width: 150px;
  margin-top: 20px;
  font-size: 20px;
}

.mascot {
  height: 275px;
  width: 275px;
}

.landingCenter {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
